body {
    background-image: url('../images/bgForm.jpg');
}
section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}
.form-container {
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}

.form-container h1 {
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

.form-container input[type="text"],
.form-container input[type="date"],
.form-container input[type="datetime"],
.form-container input[type="email"],
.form-container input[type="number"],
.form-container input[type="search"],
.form-container input[type="password"],
.form-container input[type="time"],
.form-container input[type="url"],
.form-container textarea,
.form-container select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    margin-top: 2%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% 'Roboto', sans-serif;
}

.form-container input[type="text"]:focus,
.form-container input[type="date"]:focus,
.form-container input[type="datetime"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="number"]:focus,
.form-container input[type="search"]:focus,
.form-container input[type="password"]:focus,
.form-container input[type="time"]:focus,
.form-container input[type="url"]:focus,
.form-container textarea:focus,
.form-container select:focus {
     box-shadow: 0 0 5px #43D1AF;
     padding: 3%;
     border: 1px solid #43D1AF;
}
.form-container input[type="submit"],
.form-container input[type="button"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    font: 95% 'Roboto', sans-serif;
}
.form-container input[type="submit"]:hover,
.form-container input[type="button"]:hover {
    background: #2EBC99;
}