<!DOCTYPE html>

<html lang="pl">
<head>
    <meta charset="utf-8" />
    <title>Kursy</title>
    <link href="./css/main.css" rel="stylesheet" />
    <link href="./css/courses.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <header>
            <nav>
                <ul>
                   <li><a href="/projects/courses">Kursy</a></li>
                    <li><a href="/">Konto</a></li>
                    <li><a href="/logout">Wyloguj</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="forbidden-message">
                <p style="color: white">Nie jesteś zalogowany!</p>
            </div>
        </main>
    </div>
</body>
</html>