<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>Tworzenie kursów</title>
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/form.css" rel="stylesheet" />
</head>
<body>
    <section>
        <div class="form-container">
            <h1>Tworzenie kursu</h1>
            <form action="" enctype="multipart/form-data"  id="form" method="post" />
                <input type="text" name="name" placeholder="Nazwa lekcji" />
                <textarea name="description" placeholder="Opis lekcji"></textarea>
                <input id="data" name="data"  type="date"/>
                <input type="text" name="ytLink">
                <input type="submit" value="Dodaj lekcję" />     
            </form>
           
                <script>
                document.addEventListener("DOMContentLoaded",() => {
                	const form = document.getElementById("form");
                	const arr = window.location.pathname.split("/");
                	const projectName = arr[2];
                	const url = `/projects/${projectName}/new/lessonFromYt`;
                	form.action = url;
                });
                
              
                </script>
        </div>
    </section>
</body>
</html>
